@page

<h1>Welcome to htmx!</h1>

<ul>
<li><a href="/welcome">Welcome</a></li>
<li><a href="/swap">hx-swap demo</a></li>
<li><a href="/contact">hx-validate and hx-post demo</a></li>
<li><a href="/prompt">hx-prompt and hx-confirm demo</a></li>
<li><a href="/sports">CSS demo</a></li>
<li><a href="/todo">ToDo demo - PUT, PATCH, and DELETE</a></li>
<li><a href="/todoOOB">ToDo Out-of-Band (OOB) demo - PUT, PATCH, and DELETE</a></li>
<li><a href="/ErrorDemo">Error handling</a></li>

</ul>

<div id="result"></div>

